@mixin tablet {
  @media (min-width: $max__width-tablet) {
    @content;
    article p {
      font-size: 1.75rem;
    }
  }

  @media (min-width: $sm__laptop) {
    @content;

    .logo {
      display: flex;
      justify-content: center;
    }
    article p {
      font-size: 2.5rem;
    }
    .logo-qod {
      display: block;
      max-width: 750px;
      width: 750px;
    }

    article p {
      font-size: 2.5rem;
      place-content: center;
    }
    .logo-qod {
      display: block;
      max-width: 750px;
      width: 750px;
    }

    .site-main {
      text-align: center;

      article {
        text-align: left;
      }
    }

    #new-quote-button p {
      font-weight: 700;
      font-size: 2.5rem;
    }

    .fas {
      font-size: 100px;
      color: $base__font-green;
    }

    h1 {
      text-align: center;
    }

    p {
      font-size: 1em;
    }

    .entry-header {
      display: flex;
      justify-content: flex-start;
      padding: 20px;
    }

    .front-page-area {
      display: flex;
      flex-direction: row;
    }

    // @media screen and (min-width: 1080px) {
    //   .fas {
    //     display: none;
    //   }
    // }
  }
}
///to do: quotes transparent, ul padding or some more space
