#new-quote-button {
  background: #222222;
  border: 2px solid;
  border-color: $base__font-green;
  color: $base__font-green;
  padding: 10px;
  font-family: 'Exo', sans-serif;
  border-radius: 3px;
  font-size: 1rem;
  width: 230px;
  // margin-left: $base__space-unit;
  // margin: 20px;
  // padding: 0.75rem 2.25rem;
  // line-height: 0.5em;         &,
  //        &:hover,
  //         &:active
  //         color: $base__font-hover;

  // }
}
