// .button {
//     color: ;
//     border:

// }
//

#new-quote-button {
  background: #222222;
  border: 2px solid;
  border-color: #00cc00;
  color: $base__font-green;
  padding: 10px;
  font-family: 'Exo', sans-serif;
  border-radius: 3px;
  font-size: 1rem;
  // padding-right: 10px;
  width: 220px;

  margin-left: $base__space-unit;
}

//     .button-icon {
//          &,
//          &:hover,
//           &:active
//   }
