// .button {
//     color: ;
//     border:

// }
//

#new-quote-button {
  background: #222222;
  border: 1px solid;
  border-color: #00cc00;
  color: #00cc00;
  padding: 10px;
  //   font-weight: 500px;
  font-family: 'Exo', sans-serif;
  border-radius: 3px;
  font-size: 1.5rem;
  //   padding-right: 10px;
  margin-left: 20px;
}

//     .button-icon {
//          &,
//          &:hover,
//           &:active
//   }
