//archives page

.browse-archives {
  ul {
    display: flex;
    line-height: 2em;
    margin-left: 0;
    flex-wrap: wrap;
    padding-left: 0;
    -ms-flex-wrap: wrap;
    list-style: none;
    font-size: 1rem;

    a {
      text-decoration: none;
      color: #0c0;
      font-size: 1rem;
      @include tablet {
        font-size: 1.25rem;
      }
    }
  }
}

.content-area {
}

// body,
// button,
// input,
// select,
// textarea {
//   color: white;
//   font-family: $font__main;
//   font-size: 1rem;
//   line-height: $font__line-height-body;
//   background: $color__background-body;
// }
