p {
  color: white;
  //   font-style: italic;
}

//@ 1080px make these badboys appear

// i {
//   &:before {
//    font-family: 'FontAwesome';
//   content: '\f10d';
//   color: $base__font-green;
//   font-weight: 900;
//   position: relative;
//   font-size: 100%;
// }

// .site-content::before {
//   content: '\f10d';
//   left: -175px;
// }
.front-page-area {
  display: flex;
  flex-direction: row;
}

.fas {
  font-size: 100px;
  color: $base__font-green;
}
