p {
  color: white;
  //   font-style: italic;
}

//@ 1080px make these badboys appear

// .content-area {
//   &:before {

//   }

.fas .fa-quote-right {
  font-family: 'FontAwesome';
  content: '\f10d';
  color: $base__font-green;
  font-weight: 900;
  position: relative;
  font-size: 100%;
}
