// Structure

$base__space-unit: 1.5rem;

//

$base__font-green: #00cc00;

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Typography

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__main: 'Exo', sans-serif;
$font__code: 'Exo', sans-serif;
$font__pre: 'Exo', sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
// $margin_outer_size: 3em;
